/***
cleancss: true
***/

/*
 * Table of Contents:
 *
 * 1. - Home
        1.1 - heading-slider
        1.2 - starting-text
        1.3 - reason for choice
        1.4 - testimonial
 * 2. - Service
 * 3. - Doctor
        3.1 - doctor-list
 * 5. - FAQ
 * 7. - Contact
 * 8. - Costs
 * -----------------------------------------------------------------------------
 */

@import 'palette';

 * {outline: none !important;}

/*============================================Global============================================ */
ul li {
    list-style: none;
//-    display: inline-block;
}

li a {
    text-decoration: none;
}

.marked-list>ul, .marked-list>li {
  list-style: disc;
}

.form-control, .input-group-addon {
    border-radius: 0;
}

.title {
    padding: 50px 0;
    margin-top: 65px
}

a {
    color: darkcyan;
}

a:hover {
    text-decoration: none;
}

.btn {
    font-family: 'Raleway', sans-serif;
}

.pagination {
    border-radius: 0;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background-color: #085A6C;
    border-color: #085A6C;
}
.pagination>li>a, .pagination>li>span {
    color: #085A6C;
    background-color: #fff;
    border: 1px solid #ddd;
}

p {
    font-family: 'Dosis', sans-serif;
    word-spacing: 0.24em;
    font-size: 17px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.send {
    margin-bottom: 20px;
}

.owl-pagination {
    display: none;
}

.seperate-buttons {
    margin: 0 20px;
}

.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }

.margin-bottom-05 { margin-bottom: 0.5em; }
.margin-bottom-10 { margin-bottom: 1.0em; }
.margin-bottom-15 { margin-bottom: 1.5em; }
.margin-bottom-20 { margin-bottom: 2.0em; }
.margin-bottom-25 { margin-bottom: 2.5em; }
.margin-bottom-30 { margin-bottom: 3.0em; }

.section-with-top-bottom-padding {
    padding: 40px 0;
}

/* ----------------------------------------Header --------------------------------------------*/
.section-title
{
    background: url(../img/6177817673_5ba53ffc2a_z.jpg);
    background-size: cover;
    vertical-align: middle;
    background-position: center;
    color: #F0FEFF;
}
.section-title .headline
{
    font-size: 70px;
    word-spacing: 10px;
}
.section-wrapper
{
    background-color: rgba(45, 53, 56, 0.78);
    padding: 78px 0;
    margin-top: 65px;
}

.section-header{
  font-size: 2em;
  border-bottom: 1px dotted #ccc;
  padding: 1em 0;
}

/* --------------------------------------  navs  ----------------------------------------------- */

section.navs {
  position: absolute;
  width: 98%
}

.logo-img {
    height: 150px;
}

@media(max-width:768px){
    .logo-img {
        height: 100px;
    }
}

@media only screen and (max-width:320px){
    .logo-img {
        height: 60px;
    }
}

.contact-nav {
  z-index: 1000;
  padding-bottom: 20px;
}

.nav-tel li a {
  padding-top: 12px;
  font-size: 22px;
  color: white;
  background-color: transparent;
}

.nav-tel li a:hover {
    background-color: transparent;
}

@media (min-width: 768px) {
  .contact-nav {
    z-index: 1000;
    padding-bottom: 0;
  }

  .nav-tel li a {
    padding-left: 160px;
    padding-top: 12px;
    font-size: 22px;
  }
}

.nav-tel-dark li a {
    color: $color-secondary-2-0;
    font-size: 22px;
    background-color: transparent;
}

.nav-tel-dark li a:hover {
    color: #000000;
    background-color: transparent;
}

.nav.navbar-nav
{
    background-color: $color-secondary-2-0;
    padding: 0 20px;
    font-size: 1.2em;
}

.navbar-default
{
    background-color: $color-secondary-2-0;
    background-color: transparent;
    border-color: transparent;
}
#main-nav-bar {
//-    background-color: $color-secondary-2-0;
    margin-top: 60px;
    line-height: 1;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

.navbar-default .navbar-nav li a
{
    color: #fff;
}
.navbar-default .navbar-nav>.active
{
    background-color: $color-secondary-2-3;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
{
    color: #fff;
}
li:last-child
{
    border-right: transparent;
}
.navbar-default .navbar-nav>li:hover, .navbar-default .navbar-nav>li:focus {
    background-color: $color-secondary-2-2;
    color: white;
}
.navbar-fixed-top .navbar-collapse
{
    max-height: 415px;
}

.navbar-collapse li {
    padding: 0;
}

.container-fluid
{
    margin-left: 20px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus
{
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav>.active:hover
{
    background-color: rgb(219, 178, 84);
    background-color: rgba(219, 178, 84, 0.62);
    border-bottom: none;
}

/* -------------------------------------------Sidebar------------------------------------------- */
.blog-content aside .widget, .faq-content aside .widget
{
    margin-bottom: 40px;
}

.faq-content {
    padding-bottom: 40px;
}

.widget h4 {
    background: url("../img/title-bg.png") repeat-x scroll 0 4px rgba(0, 0, 0, 0);
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
}
.widget.widget_iw_last_posts h5
{
    margin-bottom: 5px;
    font-weight: 400;
}
.widget h4 span, .special-service h2 span
{
    background: white;
    padding-right: 10px;
}
.widget h5
{
    text-transform: none;
    font-size: 14px;
    margin-top: 10px;
}
.widget ul
{
    padding-left: 0;
    list-style: none;
}
.widget ul li
{
    border-bottom: 1px solid #f3f3f3;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    list-style: none;
    display: block;
    padding: 10px 20px 10px 0;
    position: relative;
}
.widget ul li:hover
{
    background: #f8f8f8;
    padding-left: 10px;
}
.widget ul li:hover a
{
    text-decoration: none;
}
.widget ul li:before
{
    color: #646464;
    content: "\f0da";
    font-family: FontAwesome;
    position: absolute;
    right: 5px;
    top: 12px;
    font-size: 11px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.widget.widget_tag_cloud .tagcloud a
{
    background-color: #eaeaea;
    border: 1px solid #f3f3f3;
    padding: 5px 10px;
    margin: 0 3px 8px 0;
    font-size: 14px !important;
    display: inline-block;
}

/* ------------------------------------   appointment  ----------------------------------------- */

.appointment
{
    background-color: #e6e6e6;
}
.appointment .header
{
    background-color: #46a1b4;
    min-height: 99px;
    height: auto !important;
    padding: 10px 23px 0;
    margin: 0 0 30px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.2)), to(rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.2), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.2), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.2), rgba(0,0,0,0));
    background-image: -o-linear-gradient(top, rgba(255,255,255,.2), rgba(0,0,0,0));
    background-image: linear-gradient(top, rgba(255,255,255,.2), rgba(0,0,0,0));
}
.appointment .header h2, .appointment .header .number
{
    text-shadow: 1px 1px 0 #20606D;
    color: #ffffff;
    font-size: 24px;
    font-weight: normal;
}
.appointment .header a i
{
    width: 36px;
    height: 36px;
    border-radius: 18px;
    border: 2px solid #fff;
    background: #6DBEC2;
    color: white;
    padding-top: 4px;
    padding-left: 1px;
}
.appointment .header .or
{
    display: block;
    width: 100%;
    height: 35px;
    background: url(../img/or-bg.png) center center no-repeat;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    position: relative;
    top: 17px;
}
.captcha-container
{
    margin: 0 0 20px;
}
.captcha-container img
{
    vertical-align: top;
    margin: 10px 0;
}
.appointment .input-group
{
    padding: 10px 0;
}

/* ========================================= 1. Home============================================= */

/* -------------------------------------- 1.1 heading-mainpage---------------------------------------- */

@media only screen and (max-width:767px){
    section.heading-mainpage {
        background: url(../img/svc_legs_sm1.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: 90%;
        background-position-x: 90%;
    }
}

@media only screen and (min-width:768px){
    section.heading-mainpage {
        background: url(../img/svc_legs.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: 90%;
        background-position-x: 75%;
    }
}

.mainpage-inner {
    padding-top: 10em;
    padding-bottom: 10em;
}

// @media only screen and (max-width:767px){
//     .mainpage-inner {
//         padding-top: 10em;
//     }
// }

.cta_form {
    display: inline-block;
    padding: 14px;
    background: #c8c8c8 none no-repeat scroll 0 0;
    background-color: rgba(200, 200, 200, 0.6);
    border-radius: 5px;
    font-size: 0;
    margin-bottom: 0.5em;
}

@media only screen and (min-width: 480px) {
    .form-inline .form-group .cta-form-email {
        width:420px;
        margin-right: 20px;
    }
}

/* -------------------------------------- 1.1 heading-slider---------------------------------------- */
section.heading-slider {
    background: url(../img/svc_legs.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 90%;
}

@media only screen and (max-width:320px){
    section.heading-slider {
    background: url(../img/svc_legs_sm1.png);
        background-size: cover;
        background-position-x: 90%;
    }
}

@media only screen and (min-width:480px){
    section.heading-slider {
        background-position-y: 90%;
        background-position-x: 90%;
    }
}

/*
@media only screen and (min-width:768px){

}

@media only screen and (min-width:992px){

}

@media only screen and (min-width:1200px){}
*/

/*---------------------------------------------- 1.2 starting-text ----------------------------------*/

.starting-text
{
    background-color: $color-tertiary-1;
    margin-top: -20px;
}
.welcome
{
    padding: 48px 68px;
    text-align: center;
}
.welcome-title
{
    font-size: 50px;
    padding-bottom: 15px;
    color: #020202;
}
.welcome-txt
{
    font-size: 18px;
    color: #0f0f0f;
    line-height: 35px;
    margin-bottom: 26px;
    padding-top: 26px;
    letter-spacing: 1px;
}
.welcome-btn
{
    background-color: #fff;
    margin-top: 20px;
    color: #46a1b4;
    border-radius: 0;
    font-size: 16px;
    transition: all 0.3s ease-in;
    padding: 13px 20px;
    border: 2px solid #fff;
}
.welcome-btn:hover
{
    color: white;
    background-color: #46a1b4;
}
/* ----------------------------------- 1.3 reason for choise------------------------------------ */

.service-heading
{
    padding: 20px 0;
    color: darkcyan;
    font-size: 29px;
}
.hservice:hover
{
    background-color: #ececec;
}

.hservice:hover .service-img
{
    opacity: 1;
}

.service-img
{
    opacity: 0.7;
}
/* .fa-facebook , .fa-twitter ,.fa-google-plus , .fa-instagram , .fa-pinterest , .fa-skype{

    margin-top: 7px;
} */
.form-control {
    height: 38px !important;
}
.hservice {
    margin: 30px 0;
    padding-bottom: 30px;
    transition: all 0.3s ease-in;
    background: rgb(242, 247, 255);
}
.service-description p
{
    padding: 0 10px;
    line-height: 25px;
    /* Fix height so that boxes line up */
    height: 80px;
}
/* ------------------------------------- 1.4 testimonial-------------------------------------------- */
#testimonial
{
    width: 100%;
    margin-top: 20px;
    background-color: $color-tertiary-1;
    /*background: url(../img/1786577.jpg);
    background-size: cover;
    color: rgb(134, 132, 132); */
}
.testimonial-wrapper
{
    /*background-color: rgba(0, 0, 0, 0.87);*/
    padding: 40px 0;
}
.client-content h1
{
    font-size: 51px;
}
.sub-headline p
{
    font-size: 23px;
}
.client-comment
{
    font-size: 18px;
    padding: 30px 0;
    line-height: 30px;
}
#client-speech img
{
    margin-top: 40px;
    margin-bottom: 20px;
    border: 10px solid rgb(131, 129, 137);
}

.carousel-control.left, .carousel-control.right {
    background: none !important;
    filter: progid:none !important;
}

/* ========================================= 2. Service=========================================== */
.service-title
{
    background: url(../img/pills_light.jpg);
    background-size: cover;
    vertical-align: middle;
    background-position: center;
    color: black;
}
.service-title .headline
{
    font-size: 70px;
    word-spacing: 10px;
}
.service-wrapper
{
//-    background-color: rgb(45, 53, 56);
//-    background-color: rgba(45, 53, 56, 0.60);
    padding: 78px 0;
}
.service
{
    padding: 40px 20px;
    transition: all 0.5s ease 0s;
}
.featured-service-content
{
    margin: 40px 0;
}
.service .service-icon i
{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    border: 2px solid #6DBEC2;
    background: #fff;
    color: #6DBEC2;
    padding-top: 38px;
    transition: all 0.7s ease 0s;
}
.about-service h3
{
    padding: 12px 0;
    color: darkcyan;
}

.about-service p
{
    padding: 0 10px;
}
.service:hover .service-icon i
{
    color: white;
    background-color: #6DBEC2;
}
.service:hover .about-service h3
{
    color: #02A2B6;
}
.special-service
{
    margin-top: 50px;
}
.service-tab
{
    margin-top: 50px;
}

.service-item
{
    padding: 30px 0;
}
.service-item img
{
    margin-bottom: 30px;
}
.service-item h3
{
    color: darkcyan;
    margin-top: 0;
}
.service-item p
{
    line-height: 25px;
    padding: 10px 0;
}
.special-service h2
{
    background: url("../img/title-bg.png") repeat-x scroll 0 13px rgba(0, 0, 0, 0);
    margin-bottom: 10px;
    margin-top: 0;
}

.sub-headline
{
    padding: 15px 0 40px 0;
    font-size: 24px;
}
.headline
{
    padding-top: 70px;
    font-size: 45px;
}
.service-rm-btn
{
    background-color: transparent;
    color: #46a1b4;
    border-radius: 0;
    font-size: 15px;
    transition: all 0.3s ease-in;
    padding: 5px 12px;
    margin: 4px 0 0 5px;
    border-color: #46a1b4;
}
.service-rm-btn:hover
{
    /* background-color: #46a1b4; */
    background-color: darkcyan;
    color: #fff;
    border-color: #3A90CD;
}

/* ========================================= 3. Team ============================================ */

/* ------------------------------------------  3.1 team list --------------------------------- */
#team-heading-section
{
    background: url(../img/doctors-img.jpg);
}

.team-wrapper
{
    background-color: rgba(0,0,0,0.17);
    padding: 100px 0;
    color: #111;
}
.main-title {
    background-color: rgb(47, 79, 79);
    display: inline-block;
    padding: 23px 70px;
    float: right;
}
.team-title {
    font-size: 4em;
}

.sub-title
{
    padding: 30px;
    float: right;
    background-color: darkslategrey;
}
.doctor-list {
    padding-top: 100px;
}

.doctor-meta
{
    margin: 100px 0 70px 0;
    padding: 120px 30px 30px;
    border: 1px solid rgba(59, 77, 116, 0.29);
    background-color: rgba(92, 145, 216, 0.27);
    position: relative;
}
.doctor-meta .doctor-img
{
    width: 200px;
    height: 200px;
    position: absolute;
    top: -100px;
    left: 50%;
    margin-left: -95px;
    border: 2px solid #c6c6c6;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}
.doctor-meta .doctor-img img
{
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.doctor-info .doctor-name
{
    margin-top: 10px;
    letter-spacing: 1px;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 5px;
    display: block;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.doctor-info .position
{
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    letter-spacing: 1px;
}
.doctor-info .doctor-des
{
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
    height: 320px;
    overflow-x: auto;
}
.doctor-info .doctor-social .online-contact a
{
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background: cadetblue;
    float: left;
    color: white;
    padding-top: 6px;
    padding-left: 2px;
}

/* ========================================= 4. FAQs============================================= */
.faq-title {
    background: url(../img/faq-photo-book-coffee.jpg);
    background-size: cover;
    vertical-align: middle;
    background-position: center;
    color: #F0FEFF;
}

.faq-title .headline {
    font-size: 60px;
    word-spacing: 10px;
}

.faq-wrapper {
    background-color: rgb(45, 53, 56);
    background-color: rgba(45, 53, 56, 0.62);
    padding: 78px 0;
}

.faq-header h2{
    font-size: 2em;
    border-bottom: 1px dotted #ccc;
    padding: 1em 0;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.faq-content {
    margin-top: 80px;
}


.faq-c {
  border-bottom: 1px dotted #ccc;
  padding: 1em 0;
}

.faq-t {
  line-height: 1.5em;
  color: #aaa;
  font-family: sans-serif;
  float:left;
  font-weight: 700;
  padding-right: 0.62em;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
}

.faq-o {
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
  -ms-transform: rotate(-45deg);
  -ms-transform-origin: 50% 50%;
  -webkit-transform: rotate(-45deg);
  -webkit-transform-origin: 50% 50%;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
  margin-top: -5px;
}

.faq-q {
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    font-size: 1.25em;
    background: rgba(249, 249, 249, 0.5);
    font-weight: 100;
    padding: 16px;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.faq-q:hover {
    box-shadow: 0 1px 5px 0 #626262;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.faq-a {
  clear: both;
  color: #666;
  display: none;
  padding: 1.5em;
}


/* ========================================= 7. Contact========================================== */
.contact-title
{
    background: url(../img/ContactUs2.jpg);
    background-size: cover;
    vertical-align: middle;
    color: black;
    background-position: center;
}
.contact-title .headline
{
    font-size: 60px;
    word-spacing: 10px;
}
.contact-wrapper
{
    background-color: rgb(200, 200, 200);
    background-color: rgba(200, 200, 200, 0.70);
    padding: 78px 0;
}
.contact-content
{
    margin-top: 100px;
}
#map-canvas
{
    width: 100%;
    height: 460px;
}
.quick-contact i
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #6DBEC2;
    color: white;
    padding-top: 12px;
    padding-left: 14px;
    font-size: 25px;
}
.quick-contact span
{
    padding-left: 10px;
    font-size: 18px;
}
.quick-contact span
{
    color: rgb(73, 77, 123);
}
.quick-contact {
    font-size: 17px;
    margin-bottom: 40px;
}
.msg-form
{
    padding: 20px 16px;
}
.msg-form .input-group
{
    display: inline-table;
    padding: 20px 0;
}

/* ========================================= 8. Costs ========================================== */
.cost-title {
    background: url(../img/coins_background-blue.jpg);
    background-size: cover;
    background-position: top;
    color: #F0FEFF;
}

.cost-heading-wrapper {
    padding-top: 140px;
    padding-bottom: 120px;
}

.cost-table {
    padding-top: 3em;
}

.cost-title h1 {
    color: #fff;
    font-size: 3.5em;
}

.cost-title p {
    color: #ccc;
    font-size: 1.5em;
}

.cost h2 {
    font-size: 2em;
}

/* ========================================= Surrey Vein Clinic ========================================== */
.surrey-vein-clinic-title {
    background: url(../img/surrey-vein-clinic-header.jpg);
    background: url(../img/moving_boxes_2.jpg);
    background-size: cover;
    background-position: top;
    color: #000;
}

.surrey-vein-clinic-heading-wrapper {
    padding-top: 140px;
    padding-bottom: 120px;
}


/* ============================================Footer=========================================== */

#footer
{
    background-color: #085A6C;
    padding: 25px 0;
}
.copy-right-text
{
    color: #fff;
    font-size: 13px;
    padding-top: 25px;
}

.copy-right-text a {
    color: #dadada;
}

#footer ul li {
    display: inline-block;
    list-style: none;
}
/* ----------------------------------- social media -------------------------------------------- */

.contact
{
    padding-top: 10px;
    padding-left: 0;
}
li.socials-icons
{
    padding-left: 20px;
}
.socials-icons a
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    /* background: #6DBEC2; */
    background-color: darkcyan;
    float: left;
    color: white;
    padding-top: 3px;
    font-size: 20px;
}
.facebook:hover
{
    background-color: #46629E;
    box-shadow: 0 0 0 2px #46629E;
    color: white;
}
.twitter:hover
{
    background-color: #0EAACE;
    box-shadow: 0 0 0 2px #0EAACE;
    color: white;
}
.google-plus:hover
{
    background-color: #AF0000;
    box-shadow: 0 0 0 2px #AF0000;
    color: white;
}
.instagram:hover
{
    background-color: #3f729b;
    box-shadow: 0 0 0 2px #3f729b;
    color: white;
}
.pinterest:hover
{
    background-color: #CB2027;
    box-shadow: 0 0 0 2px #CB2027;
    color: white;
}
.skype:hover
{
    background-color: #01AEF2;
    box-shadow: 0 0 0 2px #01AEF2;
    color: white;
}

/* =========================================Media Query========================================= */

@media (min-width: 1200px){
    .navbar-collapse.collapse
    {
        display: block!important;
        height: auto!important;
        /* padding: 10px 0; */
        overflow: visible!important;
    }
}

@media (min-width: 1200px){
    .navbar-collapse
    {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

@media (max-width: 991px){
    .slider-inner-text {
        margin: 162px 0;
    }
}

@media (max-width: 767px){
    .slider-inner-text {
        margin: 162px 58px;
        width: 62%;
    }
}

@media (max-width: 505px){
    section.content main .info li:not(:last-child)
    {
        margin: 0 27px 10px 0;
    }
    section.content main .info li
    {
        border: 0 !important;
        display: inline;
        margin: 0;
        padding: 0;
    }
    .slider-inner h1{
        font-size: 50px;
    }
    .slider-inner-text {
        margin: 162px 13px;
    }
    .slider-inner-text p
    {
        font-size: 19px;
    }
    .welcome {
        padding: 48px 20px;
    }
}
@media(max-width: 319px) {
    .heading-slider {
        display: none;
    }
}
