---
title: "Blog"
layout: "default"
TopMenuCategory: "Blog"
scripts: ['']
priority: 1.0
---

block content
  section.blog-title.text-center
    .blog-wrapper
      .container
        .row
          h1.headline Our Blog
        .row
          .sub-headline
            p Full of important information
  section.blog-content
    .container
      .row
        main.blog1col.col-md-9
          .archive
            article.row
              .col-md-4.col-sm-4
                img.img-responsive.center-block.img-padder(src='/img/blog1.jpg', alt='Medical Theme Health and Care')
              .col-md-8.col-sm-8
                h4
                  a(href='#')
                    | Use the images in the posts
                ul.list-inline.info
                  li
                    i.fa.fa-user-md
                    |  Marco Nardi
                  li
                    i.fa.fa-calendar
                    |  March 17, 2014
                  li
                    i.fa.fa-tag
                    a(href='#') News
                  li
                    i.fa.fa-comment
                    |  One Comment
                p
                  | Quisque Eget Odio Ac Lectus Vestibulum Faucibus Eget In Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus. Hendrerit arcu sed erat molestie vehicula. Sed auctor&mldr;  
                  a.service-rm-btn.btn.btn-primary(href='#')
                    | Continue reading 
                    i.fa.fa-caret-right
            article.row
              .col-md-4.col-sm-4
                img.img-responsive.center-block.img-padder(src='/img/blog2.jpg', alt='Medical Theme Health and Care')
              .col-md-8.col-sm-8
                h4
                  a(href='#') We&rsquo;r doctors!
                ul.list-inline.info
                  li
                    i.fa.fa-user-md
                    |  Marco Nardi
                  li
                    i.fa.fa-calendar
                    |  November 20, 2013
                  li
                    i.fa.fa-tag
                    a(href='#') Data
                  li
                    i.fa.fa-comment
                    |  8 Comments
                p
                  | Curabitur Vulputate, Ligula Lacinia Scelerisque Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus. Hendrerit arcu sed erat molestie vehicula. Sed auctor neque&mldr;  
                  a.service-rm-btn.btn.btn-primary(href='#')
                    | Continue reading 
                    i.fa.fa-caret-right
            article.row
              .col-md-4.col-sm-4
                img.img-responsive.center-block.img-padder(src='/img/blog3.jpg', alt='Medical Theme Health and Care')
              .col-md-8.col-sm-8
                h4
                  a(href='#') Breathe mountain air is good for your health?
                ul.list-inline.info
                  li
                    i.fa.fa-user-md
                    |  Marco Nardi
                  li
                    i.fa.fa-calendar
                    |  July 17, 2013
                  li
                    i.fa.fa-tag
                    a(href='#') News
                  li
                    i.fa.fa-comment
                    |  4 Comments
                p
                  | Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum&mldr;  
                  a.service-rm-btn.btn.btn-primary(href='#')
                    | Continue reading 
                    i.fa.fa-caret-right
            article.row
              .col-md-4.col-sm-4
                img.img-responsive.center-block.img-padder(src='/img/blog4.jpg', alt='Medical Theme Health and Care')
              .col-md-8.col-sm-8
                h4
                  a(href='#') Food and shopping in medical real world and its consequence
                ul.list-inline.info
                  li
                    i.fa.fa-user-md
                    |  Marco Nardi
                  li
                    i.fa.fa-calendar
                    |  May 19, 2013
                  li
                    i.fa.fa-tag
                    a(href='#') Lesti
                  li
                    i.fa.fa-comment
                    |  5 Comments
                p
                  | Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus&mldr;  
                  a.service-rm-btn.btn.btn-primary(href='#')
                    | Continue reading 
                    i.fa.fa-caret-right
            article.row
              .col-md-4.col-sm-4
                img.img-responsive.center-block.img-padder(src='/img/blog5.jpg', alt='Medical Theme Health and Care')
              .col-md-8.col-sm-8
                h4
                  a(href='#') Demo post 11
                ul.list-inline.info
                  li
                    i.fa.fa-user-md
                    |  Marco Nardi
                  li
                    i.fa.fa-calendar
                    |  May 17, 2013
                  li
                    i.fa.fa-tag
                    a(href='#') News
                  li
                    i.fa.fa-comment
                    |  No Comments
                p
                  | Header Level 2 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam tincidunt mauris eu risus. Definition list Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut&mldr;  
                  a.service-rm-btn.btn.btn-primary(href='#')
                    | Continue reading 
                    i.fa.fa-caret-right
            article.row
              .col-md-4.col-sm-4
                img.img-responsive.center-block.img-padder(src='/img/blog6.jpg', alt='iStock_000008003914XLarge')
              .col-md-8.col-sm-8
                h4
                  a(href='#') We care about every patient
                ul.list-inline.info
                  li
                    i.fa.fa-user-md
                    |  Marco Nardi
                  li
                    i.fa.fa-calendar
                    |  May 7, 2013
                  li
                    i.fa.fa-tag
                    a(href='#') Data
                  li
                    i.fa.fa-comment
                    |  9 Comments
                p
                  | Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus&mldr;  
                  a.service-rm-btn.btn.btn-primary(href='#')
                    | Continue reading 
                    i.fa.fa-caret-right
            article.row
              .col-md-4.col-sm-4
                img.img-responsive.center-block.img-padder(src='/img/blog7.jpg', alt='Medical Theme Health and Care')
              .col-md-8.col-sm-8
                h4
                  a(href='#') Recommended foods for optimal health
                ul.list-inline.info
                  li
                    i.fa.fa-user-md
                    |  Marco Nardi
                  li
                    i.fa.fa-calendar
                    |  December 10, 2011
                  li
                    i.fa.fa-tag
                    a(href='#') Data
                  li
                    i.fa.fa-comment
                    |  4 Comments
                p
                  | Lorem Ipsum Dolor Sit Amet, Consectetur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus&mldr;  
                  a.service-rm-btn.btn.btn-primary(href='#')
                    | Continue reading 
                    i.fa.fa-caret-right
            article.row
              .col-md-4.col-sm-4
                img.img-responsive.center-block.img-padder(src='/img/blog8.jpg', alt='Medical Theme Health and Care')
              .col-md-8.col-sm-8
                h4
                  a(href='#') Demo post 1
                ul.list-inline.info
                  li
                    i.fa.fa-user-md
                    |  Marco Nardi
                  li
                    i.fa.fa-calendar
                    |  October 20, 2011
                  li
                    i.fa.fa-tag
                    a(href='#') Data
                  li
                    i.fa.fa-comment
                    |  2 Comments
                p
                  | Header Level 3 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam tincidunt mauris eu risus. Header Level 2 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam tincidunt&mldr;  
                  a.service-rm-btn.btn.btn-primary(href='#')
                    | Continue reading 
                    i.fa.fa-caret-right
            article.row
              .col-md-4.col-sm-4
                img.img-responsive.center-block.img-padder(src='/img/blog9.jpg', alt='fisioterapia4')
              .col-md-8.col-sm-8
                h4
                  a(href='#') Demo post 6
                ul.list-inline.info
                  li
                    i.fa.fa-user-md
                    |  Marco Nardi
                  li
                    i.fa.fa-calendar
                    |  September 7, 2011
                  li
                    i.fa.fa-tag
                    a(href='#') Data
                  li
                    i.fa.fa-comment
                    |  4 Comments
                p
                  | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam&mldr;  
                  a.service-rm-btn.btn.btn-primary(href='#')
                    | Continue reading 
                    i.fa.fa-caret-right
            article.row
              .col-md-4.col-sm-4
                img.img-responsive.center-block.img-padder(src='/img/blog10.jpg', alt='Fotolia_29513120_Subscription_XL')
              .col-md-8.col-sm-8
                h4
                  a(href='#') Clinical significance versus statistical significance
                ul.list-inline.info
                  li
                    i.fa.fa-user-md
                    |  Marco Nardi
                  li
                    i.fa.fa-calendar
                    |  August 27, 2011
                  li
                    i.fa.fa-tag
                    a(href='#') Data
                  li
                    i.fa.fa-comment
                    |  8 Comments
                p
                  | Header Level 3 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam tincidunt mauris eu risus. Nullam In Dui Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris&mldr;  
                  a.service-rm-btn.btn.btn-primary(href='#')
                    | Continue reading 
                    i.fa.fa-caret-right
            .row
              .col-md-6.col-md-offset-3.text-center
                ul.pagination
                  li.disabled
                    a(href='#') &gt;&gt;
                  li.active
                    a(href='#')
                      | 1 
                      span.sr-only (current)
                  li
                    a(href='#') 2
                  li
                    a(href='#') 3
                  li
                    a(href='#') 4
                  li
                    a(href='#') 5
                  li
                    a(href='#') &gt;&gt;
          // end of archive
        aside.col-md-3
          #categories-3.widget.widget_categories
            h4
              span Categories
            ul
              li.cat-item.cat-item-4
                a(href='#', title='View all posts filed under Data') Data
              li.cat-item.cat-item-3
                a(href='#', title='View all posts filed under Lesti') Lesti
              li.cat-item.cat-item-5
                a(href='#', title='View all posts filed under Nean condimentum') Nean condimentum
              li.cat-item.cat-item-1
                a(href='#', title='View all posts filed under News') News
              li.cat-item.cat-item-21
                a(href='#', title='View all posts filed under Slide') Slide
          #iw_last_posts-3.widget.widget_iw_last_posts
            h4
              span Last posts whit image
            .row
              .col-md-4.col-xs-3
                a(href='#')
                  img.img-responsive.h5.wp-post-image(src='/img/blog1_min.jpg', alt='Medical Theme Health and Care')
              .col-md-8.col-xs-9
                h5
                  a(href='#') Use the images in the posts
                p
                  time(datetime='2014-03-17') March 17, 2014
                  br
            // /.row
            hr
            .row
              .col-md-4.col-xs-3
                a(href='#')
                  img.img-responsive.h5.wp-post-image(src='/img/blog2_min.jpg', alt='Medical Theme Health and Care')
              .col-md-8.col-xs-9
                h5
                  a(href='#') We&rsquo;r doctors!
                p
                  time(datetime='2013-11-20') November 20, 2013
                  br
            // /.row
            hr
            .row
              .col-md-4.col-xs-3
                a(href='#')
                  img.img-responsive.h5.wp-post-image(src='/img/blog3_min.jpg', alt='Medical Theme Health and Care')
              .col-md-8.col-xs-9
                h5
                  a(href='#')
                    | Breathe mountain air is good for your health?
                p
                  time(datetime='2013-07-17') July 17, 2013
                  br
            // /.row
            hr
            .row
              .col-md-4.col-xs-3
                a(href='#')
                  img.img-responsive.h5.wp-post-image(src='/img/blog4_min.jpg', alt='Medical Theme Health and Care')
              .col-md-8.col-xs-9
                h5
                  a(href='#') Food and shopping in medical real world and its consequence
                p
                  time(datetime='2013-05-19') May 19, 2013
                  br
            // /.row
            hr
            .row
              .col-md-4.col-xs-3
                a(href='#')
                  img.img-responsive.h5.wp-post-image(src='/img/blog5_min.jpg', alt='Medical Theme Health and Care')
              .col-md-8.col-xs-9
                h5
                  a(href='#') Demo post 11
                p
                  time(datetime='2013-05-17') May 17, 2013
                  br
            // /.row
            hr
          #text-3.widget.widget_text
            h4
              span Text widget
            .textwidget
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          #tag_cloud-3.widget.widget_tag_cloud
            h4
              span Tags
            .tagcloud
              a(href='#', title='2 topics', style='font-size: 16.4pt;') care
              a(href='#', title='2 topics', style='font-size: 16.4pt;') data
              a(href='#', title='2 topics', style='font-size: 16.4pt;') demo
              a(href='#', title='2 topics', style='font-size: 16.4pt;') healthcare
              a(href='#', title='1 topic', style='font-size: 8pt;') heart
              a(href='#', title='1 topic', style='font-size: 8pt;') insert
              a(href='#', title='3 topics', style='font-size: 22pt;') medicals
              a(href='#', title='2 topics', style='font-size: 16.4pt;') post
              a(href='#', title='2 topics', style='font-size: 16.4pt;') premium
              a(href='#', title='1 topic', style='font-size: 8pt;') theme
              a(href='#', title='3 topics', style='font-size: 22pt;') wordpress
      // end of row
    // end of container

script.
  new WOW().init();
