---
title: "Cost of Treatments"
layout: "default"
TopMenuCategory: "Cost"
scripts: ['']
priority: 1.0
description: "What does it cost to have varicose vein treated"
---

block content
  section.cost-title
    .cost-heading-wrapper
      .container
        .row
          .col-md-6.col-md-offset-1
            h1 Cost of Vein Treatment
            p
              | A guide to the costs of consultation and treatment. The prices quoted are per leg.
              | Your exact treatment requirements will be discussed at your consultation.

          .col-md-4
            a.btn.btn-success.btn-lg(role="button", href="#booking_anchor" style='margin-top: 20px;') Book a Free Mini consultation
            //- a(href="#booking_anchor").welcome-btn Book a Free Mini consultation

  article.cost
    .container
      .row
        .col-lg-12.col-sm-12.col-xs-12
           h2.headline.text-center
            | A Guide to the cost of Varicose Veins Treatments

           p
            | We treat all patients as individuals. A consultation will take place during which:
            ul.marked-list
              li your consulant will listen to your concerns and what you would like treated
              li your consulant will talk to you about your medical history and perform a full examination
              li any findings will be explained to you and the cause of your varicose veins explained
              li nearly all patients with bulging varicose veins will require a ultrasound scan
              li a treatment plan for you will be planned and the treatment options discussed with you
            
          p
            | The table below provides a guide to the cost of your treatment as your individual treatment plan
            | will be taylored to you.
            
    section.cost-table
      .container
        .row
          .col-lg-12.col-sm-12.col-xs-12
            table.table.table-striped.table-bordered.table-hover.table-responsive
              thead
                tr
                  th Description
                  th.col-sm-2 Price
                  th.col-sm-2 CCSD (BUPA) Code
              tbody
                tr
                  td Consultation with Consultant Vascular Surgeon
                  td &pound; 150
                  td 20300

                  tr
                    td Colour Duplex Ultrasound Scan investigation of varicose veins (each leg)
                    td &pound; 150
                    td IM269

                tr
                  td Consultation including first sclerotherapy treatment session for flare / thread veins
                  td &pound; 295
                  td 20300 and L8690

                tr
                  td Follow up sclerotherapy injection sessions
                  td &pound; 230
                  td L8690

                tr
                  td Foam injection sclerotherapy treatment with ultrasound for larger varicose veins
                  td &pound; 650
                  td L8620

                tr
                  td
                    | Varicose vein abulatory avulsions under local anaesthetic (LA)
                    br
                    | (Includes all dressings, stockings and follow-up)
                  td &pound; 895
                  td L8510 (closet match)

                tr
                  td
                    | Endovenous Laser / Radio-frequency ablation treatment under local anaesthetic and phlebectomies (single trunk)
                    br
                    | (Includes all dressings, stockings and follow-up)

                  td &pound; 1,895
                  td L8512 / L8542

                  tr
                    td
                      | Endovenous Laser / Radio-frequency ablation treatment under local anaesthetic and phlebectomies (both long and short saphenous veins)
                      br
                      | (Includes all dressings, stockings and follow-up)

                    td &pound; 2,495
                    td L8514 / L8540

                tr
                  td Varicose vein open surgery and phlebectomies under general anaesthetic (GA)
                  td By quotation (as hospital fees vary)
                  td L8510 / L8520

                tr
                  td Endovenous Laser / Radio-frequency ablation treatment and phlebectomies under general anaesthetic
                  td By quotation (as hospital fees vary)
                  td L8512 / L8540

                tr
                  td Hyperhidrosis Botox Treatment
                  td &pound; 495
                  td n/a

  section
    .container
      .row
        .col-lg-12.col-sm-12.col-xs-12
          h3 Self Pay
          p
            | Many of our patients pay for treatment themselves as they don't have or want a full
            | health insurance policy. Many health insurance policy also do not cover procedures
            | they deem cosmetic.
          p 
            | The prices above are for patients that wish to self pay and are a fixed cost.
            | Included in the prices is a follow-up appointment (if required) and incidentals
            | such as dressings and compression stockings.

      .row
        .col-lg-12.col-sm-12.col-xs-12
          h3 Payment Options
          p
            | We accept all major credit cards but can also accept transfer by Internet / Online
            | banking prior to your visit.
            | Unfortunitly, cheques will incur a 50 pence admin charge

      .row
        .col-lg-12.col-sm-12.col-xs-12
          h3 Private Health Insurance
          p 
            | We operate as a private clinic so this clinic does not offer treatment on the NHS. However,
            | if you have private health insurance it is possible your health insurance may cover
            | some or all of the costs. Many insurance companies cover the treatment of vein disorders
            | that are associated with substantial pain and other complications, but individual
            | insurance companies may limit the types of therapy that are covered. Please
            | check with your insurance provider.
          p
            | All our consultants have full NHS practises. Your GP will need to decide if treatment for
            | your varicose veins is available on the NHS and will also have to refer you to be seen.
            | We know that flare / thread vein treatments are not funded at all on the NHS
            
          p
            | For your conveience the table above contains the codes that your insurer might ask you for,
            | when discussing your varicose veins. All the codes are for first time (primary) disease
            | on one leg.

          p Our consultants are registered providers for
          ul.marked-list
            li Aviva
            li BUPA
            li AXA / PPP
            li Health Online
            li Cigna
            li Vitality Health (previous Pru Health)
            li Simply Health

  a(name="booking_anchor")
  section#testimonial.text-center
    .testimonial-wrapper
      .container
        .row
          .col-md-5.col-md-offset-1
            h2.text-center
              | Arranging to see someone is easy. We even offer a free #{site.mini_consult_duration} minute vein
              | consultation if you would just like to make sure a treatment can be offered.

          .col-md-4
            != partial('booking_form')
