---
title: "Frequently Asked Questions"
layout: "default"
TopMenuCategory: "FAQs"
scripts: ['/js/faq.js']
priority: 1.0
---

block content
    section.faq-title.text-center
      .faq-wrapper
        .container
          .row
            h1.headline Frequently Asked Questions
          .row
            .sub-headline
              p &nbsp;
    section.faq-content
      .container
        .row
          main.col-md-9
            h2.faq-header Varicose Veins

            .faq-c
              .faq-q
                span.faq-t +
                | What are veins
              .faq-a
                p
                  | Veins are the blood vessels that return blood to the heart from the body. To overcome
                  | the force of gravity, inside the veins are one-way valves which open to allow blood flow
                  | to the heart, and close to prevent “reflux” of blood to the body. When these valves
                  | fail to function or if the vein is damaged so the valves do not completely close,
                  | blood can begin to pool in the vein and cause a variety of vein complications.

            .faq-c
              .faq-q
                span.faq-t +
                | What are the different types of vein disorders ?
              .faq-a
                p
                  | Spider veins are small, thread-like coloured veins that are most often seen on the surface
                  | of the skin. Whilst most people seek treatment for spider veins for cosmetic reasons,
                  | spider veins also can result in mild discomfort.

                p
                  | Varicose veins are the large “rope-like” veins which are often 0.5cm or larger in diameter.
                  | Varicose veins generally grow in size over time and can result in substantial pain and
                  | complications if not treated.

            .faq-c
              .faq-q
                span.faq-t +
                | How do I know if I have varicose or spider veins?
              .faq-a
                p
                  | Fortunately, the condition of most veins can be seen by looking at the size and colour
                  | of the vein at the skin surface. In some cases, however, the affected vein may be deeper
                  | in the body and not visible from the surface of the skin. As a result, paying close
                  | attention to other symptoms is important in diagnosing vein disease.

                p
                  | Many patients with vein disease experience cramping, aching, burning, itching, soreness
                  | or “tired” or “restless” legs, especially in the calf muscles. If you experience these
                  | symptoms, our Clinic or your Doctor can quickly and easily perform a test to
                  | determine if you have vein disorders.

            .faq-c
              .faq-q
                span.faq-t +
                | How common are vein problems?
              .faq-a
                p
                  | Whilst there is a higher incidence of vein disorders in women than men, vein ailments
                  | are widespread amongst the whole population; varicose veins affect between 15-25% of all
                  | adults, and approximately 50% of all people over age 50 experience some form of vein ailment.

            .faq-c
              .faq-q
                span.faq-t +
                | Why do vein disorders occur?
              .faq-a
                p
                  | The single most important cause of vein disorders is genetic. Approximately 70% of
                  | all sufferers with varicose veins have parents or other family members with the same
                  | condition. Other factors that can contribute to vein disorders are pregnancy, especially
                  | multiple pregnancies, old age, obesity and jobs that require long periods of standing or sitting.

            .faq-c
              .faq-q
                span.faq-t +
                | What can happen if varicose veins aren’t treated?
              .faq-a
                p
                  | Varicose veins generally worsen over time. Often this is a gradual process but,
                  | if left untreated, they can lead to restrictions with mobility and severe aching of
                  | the legs in the evening and during the night. Eventually, varicose veins can lead to
                  | eczema, blood clot formation and in extreme cases skin ulceration.

          .col-md-3
            img(src="/img/vein-diagram1.jpg")
              
        .row
          main.col-md-9
            h2.faq-header Treatment for Venous Problems

            .faq-c
              .faq-q
                span.faq-t +
                | If the vein is closed by the treatment where does the blood go?
              .faq-a
                p
                  | Because there are many veins in the leg, the blood that would have flowed
                  | through the closed vein simply flows through other healthy veins after the procedure.
                  | The loss of the diseased vein is not a problem for the circulatory system.

            .faq-c
              .faq-q
                span.faq-t +
                | What are the complications of vein treatment?
              .faq-a
                p
                  | Fortunately, sclerotherapy and endovenous laser therapy and radio-frequency ablation therapy have
                  | rarely been associated with any serious complications when properly performed. Common minor
                  | complications of these procedures include bruising, mild itching, tingling, tenderness
                  | and tightness in the treated leg for up to two weeks after the treatment.

            //- .faq-c
            //-   .faq-q
            //-     span.faq-t +
            //-     | 
            //-   .faq-a
            //-     p
            //-       |

