---
title: "Surrey Vein Clinic"
layout: "default"
TopMenuCategory: ""
scripts: ['']
priority: 0.5
header_light: true
description: "Surrey Vein Clinc has now become the Varicose Veins Clinic"
---

block content
  section.surrey-vein-clinic-title
    .surrey-vein-clinic-heading-wrapper
      .container
        .row
          .col-md-10
            h1.text-right The Surrey Vein Clinic
            h2.text-right Has moved


  article.surrey-vein-clinic
    .container
      .row
        .col-lg-12.col-sm-12.col-xs-12
          h2.headline.text-center
            | The Surrey Vein Clinic
      .row
        .col-md-3
          img.img-responsive(src="/img/svc_old_site.jpg")
        .col-md-9
          p
            | As the team at Frimley Park Hospital has grown, the area that we are able to treat as grown too. As a vascular unit we now serve
            | a population of 1.2 million and cover the areas of Surrey, Hampshire and Berkshire and parts of Buckinghamshire.
          p 
            | The Surrey Vein Clinic has changed it's name as we treat a much larger area than Surrey alone.
