---
title: "Meet the team"
layout: "default"
TopMenuCategory: "Team"
scripts: ['']
priority: 1.0
---

block content
  section#team-heading-section
    .team-wrapper
      .container
        .row
          .col-md-6.col.col-md-offset-6
            h1.team-title The Surrey Vein Team
        .row
          .col-md-6.col.col-md-offset-6
            h2.team-headings.wow.animated.fadeInLeft Friendly
          .col-md-6.col.col-md-offset-6
            h2.team-headings.wow.animated.fadeInLeft(data-wow-delay='2s') Approachable
          .col-md-6.col.col-md-offset-6
            h2.team-headings.wow.animated.fadeInLeft(data-wow-delay='3s') Professional

  .doctor-portfolio
    .container
      .row
        .col-lg-12.col-sm-12.col-xs-12
          h2.headline.text-center
            | Meet our team
          p.sub-headline.text-center
            | Staffed by NHS consultant surgeons, consultant radiologist, nurse practitioners and theatre sisters
          hr
  section.doctor-list
    .container
      .row

        .col-lg-4.col-sm-6.col-xs-12
          .doctor-meta
            .doctor-img
              img.img-responsive.center-block(src='/img/team/David_Gerrard.png', alt='David Gerrard')
            .doctor-info
              .row
                .doctor-name.text-center
                  | Mr David Gerrard
              .row
                .position.text-center
                  | Vascular Surgeon
              .row
                .position.text-center
                  | M.B. B.S FRCS (Gen Surg)
              .row
                .doctor-des.text-center
                  p
                    | He has a wealth of experience having qualified in 1989 at Kings College London. He undertook an endovascular fellowship at
                    | Guys and St Thomas in London before moving to Frimley Park Hospital in 2001.
                  p
                    | He is a keen long distance cyclist but this does not leave him short of energy as he pursues his career in a friendly,
                    | reputable environment. He finds the opportunity to pioneer new varicose vein and arterial techniques stimulating.
              .row
                .doctor-social.text-center
                  ul.contact
                    li.online-contact
                      a(href='https://uk.linkedin.com/pub/david-gerrard/30/11b/210', data-toggle='tooltip', title='LinkedIn Profile David Gerrard')
                        i.fa.fa-linkedin

        .col-lg-4.col-sm-6.col-xs-12
          .doctor-meta
            .doctor-img
              img.img-responsive.center-block(src='/img/team/Neville_Dastur.png', alt='Neville Dastur')
            .doctor-info
              .row
                .doctor-name.text-center
                  | Mr Neville Dastur
              .row
                .position.text-center
                  | Vascular Surgeon
              .row
                .position.text-center
                  | MBBS MD FRCS (Gen Surg &amp; Vascular)
              .row
                .doctor-des.text-center
                  p
                    | Qualified at Guys and St Thomas' Hospital in 1997 and undertook his endovascular fellowship back at St Thomas' and then
                    | the Royal Sussex County Hospital, Brighton. He is a consultant at Frimley Park Hospital with a specialist
                    | interest in endovascular techniques and interventional radiology
                  p
                    | He is a keen swimmer and squash player as well as having IT skills which he uses to help improve patient care. But he
                    | most enjoys playing with and raising his two lovely children
              .row
                .doctor-social.text-center
                  ul.contact
                    li.online-contact
                      a(href='http://uk.linkedin.com/in/nevilledastur', data-toggle='tooltip', title='LinkedIn Profile Neville Dastur')
                        i.fa.fa-linkedin
                    li.online-contact
                      a(href='https://twitter.com/nevilledastur', data-toggle='tooltip', title='Connect with Twitter')
                        i.fa.fa-twitter

        .col-lg-4.col-sm-6.col-xs-12
          .doctor-meta
            .doctor-img
              img.img-responsive.center-block(src='/img/team/Andrew_Hatrick.png', alt='Andrew Hatrick')
            .doctor-info
              .row
                .doctor-name.text-center
                  | Dr Andrew Hatrick
              .row
                .position.text-center
                  | Consultant Radiologist
              .row
                .position.text-center
                  | M.B. Bchir MRCP FRCR
              .row
                .doctor-des.text-center
                  p
                    | Qualified in 1991 from Cambridge University and joined Frimley Park Hospital in 2001. As the team Radiologist, Andrew is a
                    | key member of the Surrey Vein Clinic.
                    | He was motivated to join Frimley because of the personable people, excellent relationships with colleagues and the
                    | opportunity to be involved in demanding and challenging diagnostic and interventional procedures.
                  p
                    | He wears the MacLeod tartan, and when you meet him why not ask him what the connection is.
              .row
                .doctor-social.text-center
                  ul.contact
                    li.online-contact
                      a(href='https://uk.linkedin.com/pub/andrew-hatrick/71/953/126', data-toggle='tooltip', title='LinkedIn Profile Andrew Hatrick')
                        i.fa.fa-linkedin

        .col-lg-4.col-sm-6.col-xs-12
          .doctor-meta
            .doctor-img
              img.img-responsive.center-block(src='/img/team/Jeremy_Taylor.png', alt='Jermey Taylor')
            .doctor-info
              .row
                .doctor-name.text-center
                  | Dr Jermey Taylor
              .row
                .position.text-center
                  | Consultant Radiologist
              .row
                .doctor-des.text-center
                  p
                    | Appointed to Frimley Park Regional Centre for Interventional Radiology in 2010. He has extensive expertise in Vascular
                    | and Non Vascular Intervention having performed over 200 EVAR and TEVAR vascular procedures.
                    | He is an innovator and has established a number of new services at Frimley Park Hospital. He has written peer
                    | reviewed articles an book chapters in Internationally recognised publications.
                  p
                    | He is a member of the West Surrey Tennis Club and plays regularly throughout the year. He also enjoys squash and golf on
                    | the rare occasion I have time to play 18 holes. Most my spare time is spent looking after two wonderful children.
              .row
                .doctor-social.text-center
                  ul.contact
                    li.online-contact
                      a(href='https://www.linkedin.com/pub/jeremy-taylor/82/a87/126', data-toggle='tooltip', title='LinkedIn Profile Jeremy Taylor')
                        i.fa.fa-linkedin

        .col-lg-4.col-sm-6.col-xs-12
          .doctor-meta
            .doctor-img
              img.img-responsive.center-block(src='/img/team/Daisy_Ferando.png', alt='Daisy Ferando')
            .doctor-info
              .row
                .doctor-name.text-center
                  | Daisy Ferando
              .row
                .position.text-center
                  | Specialist Theatre Sister
              .row
                .doctor-des.text-center
                  p
                    | Originally from Sri Lanka. Qualified from Francis Harrison college of health care.
                  p 
                    | Vascular lead for main theatres in Frimley Park hospital. Have worked with the Vascular surgeons
                    | for the last 20 years. Qualified Surgical Care Practitioner able to carry out minor procedures.
                  P
                    | Enjoys cooking, reading and music.
                    
              .row
                .doctor-social.text-center
                  ul.contact
                    li.online-contact
                      a(href='#', data-toggle='tooltip', title='Share in Facebook')
                        i.fa.fa-facebook
                    li.online-contact
                      a(href='#', data-toggle='tooltip', title='Connect with Skype')
                        i.fa.fa-skype
                    li.online-contact
                      a(href='#', data-toggle='tooltip', title='Share in Google +')
                        i.fa.fa-google-plus

        .col-lg-4.col-sm-6.col-xs-12
          .doctor-meta
            .doctor-img
              img.img-responsive.center-block(src='/img/team/Claire_Martin.png', alt='Claire Martin')
            .doctor-info
              .row
                .doctor-name.text-center
                  | Claire Martin
              .row
                .position.text-center
                  | Specialist Vascular Nurse
              .row
                .doctor-des.text-center
                  p
                    | Qualified from Frances Harrison college of health care and has background in surgical nursing.
                    | Obtained bSc. Hons in vascular nursing in 2004 works as lead vascular clinical specialist nurse at
                    | Frimley Health NHS Trust and is an independent nurse prescriber has been performing sclerotherapy for
                    | over 15 years and professional interest in non invasive aesthetic treatments.
                  p
                    | Interests include reading, and keeping fit at military boot camps 2 children and a dog called Cadbury also keep her busy

              .row
                .doctor-social.text-center
                  ul.contact
                    li.online-contact
                      a(href='#', data-toggle='tooltip', title='Share in Facebook')
                        i.fa.fa-facebook
                    li.online-contact
                      a(href='#', data-toggle='tooltip', title='Connect with Skype')
                        i.fa.fa-skype
                    li.online-contact
                      a(href='#', data-toggle='tooltip', title='Share in Google +')
                        i.fa.fa-google-plus

        .col-lg-4.col-sm-6.col-xs-12
          .doctor-meta
            .doctor-img
              img.img-responsive.center-block(src='/img/team/Andrea_Croucher.png', alt='Andrea Croucher')
            .doctor-info
              .row
                .doctor-name.text-center
                  | Andrea Croucher
              .row
                .position.text-center
                  | Specialist Vascular Nurse
              .row
                .doctor-des.text-center
                  p
                    | Qualified from Mid Essex Hospital Services NHS Trust 1993, has worked as a
                    | Vascular CNS since 2008. Has worked with patients with venous disease both
                    | privately and on the NHS since 1997 and has a wealth of experience.

                    | Interests include reading, dabbling in genealogy, her dog called Cameron
                    | and in her spare time helps mechanic for her husband grass track races.

              .row
                .doctor-social.text-center
                  ul.contact
                    li.online-contact
                      a(href='#', data-toggle='tooltip', title='Share in Facebook')
                        i.fa.fa-facebook
                    li.online-contact
                      a(href='#', data-toggle='tooltip', title='Connect with Skype')
                        i.fa.fa-skype
                    li.online-contact
                      a(href='#', data-toggle='tooltip', title='Share in Google +')
                        i.fa.fa-google-plus

  script.
    new WOW().init();
