---
title: "Treatments"
layout: "default"
TopMenuCategory: "Treatments"
scripts: ['']
priority: 1.0
header_light: true
description: "Treatments available for Varicose Veins"
---

block content
  section.service-title.text-center
    .service-wrapper
      .container
        .row
          h1.headline Treatments
        .row
          .sub-headline
            p A comprehensive range of Treatments to help you
            P 
              | Depending on the type and stage of vein disorders, there are different types of treatments.
              | The Varicose Vein Clinic can explain the most appropriate treatment options to you at an
              | initial consultation.

  article
    .container
      .row
        .col-md-10.col-md-offset-1
          section.featured-service-content
            .container
              .row
                .col-md-3.text-center
                  img.img-circle.img-thumbnail(src="/img/FlareVeins.jpg")
                .col-md-6
                  h2.text-center Micro Sclerotherapy
                  p 
                    | Used commonly for spider or flare veins and small varicose veins on legs, also used for the
                    | treatment of facial veins. Sclerotherapy involves injecting a small volume of a liquid into the affected vein.
                    | The sclerosing liquid acts upon the lining of the vein to cause it to seal shut, eliminating the vein completely.
                    | Sclerotherapy can be quickly performed at our clinic and no anaesthesia is required.

              .row.margin-top-25
                .col-md-3.col-md-push-6.text-center
                  img.img-circle.img-thumbnail(src="/img/CompressionStocking.jpg")
                .col-md-6.col-md-pull-3
                  h2.text-center Compression Stockings
                  p 
                    | For minor pain from Varicose veins, a compression stocking may be beneficial. The compression
                    | stocking will assist the leg in pumping of blood back to the heart.  While the discomfort felt
                    | by the sufferer may be reduced, compression stockings will not cure the problem.

              .row.margin-top-25
                .col-md-3.text-center
                  img.img-circle.img-thumbnail(src="/img/Varicose_veins.jpg")
                .col-md-6
                  h2.text-center Surgical stripping
                  p
                    | Historically, the only treatment for large varicose veins has been to surgically remove or ‘strip’ the
                    | vein from the body.  Surgical stripping is done in an operating theatre under general or regional
                    | anaesthesia and may require a considerable recovery period for the patient.  More recently, a modified
                    | version of stripping, known as ambulatory phlebectomy has grown in use. In this version of surgical
                    | stripping, multiple incisions are made to hook and remove the vein one portion at a time.
                    | More incisions are made than in standard vein stripping, but the damage to the leg and
                    | post-surgery recovery time are reduced.

              .row.margin-top-25
                .col-md-3.col-md-push-6.text-center
                  img.img-circle.img-thumbnail(src="/img/VNUS-GENERATOR-PICTURE.jpg")
                .col-md-6.col-md-pull-3
                  h2.text-center Endovenous Ablation
                  p
                    | Over the past 10 years minimally invasive (key hole) techniques have been developed to heat and seal the
                    | vein from the inside. This is called Endovenous Laser Therapy or Radio-frequency ablation and has become
                    | the preferred method of treatment amongst vascular surgeons.
                  p
                    | In endovenous therapy, the patient only needs a local anaesthetic. A thin laser fibre or heating coil is
                    | inserted into the diseased vein, generally through a small puncture around the knee. Heat energy is
                    | directed to the vein wall which causes the vein to close shut. This prevents the abnormal flow of blood down the leg.
                  P
                    | Endovenous therapy can be performed in a clinic or surgery in about an hour, and the patient is encouraged
                    | to walk immediately following the procedure.

    hr

    .section-with-top-bottom-padding
      .container
        .row
          .col-md-5.col-md-offset-1
            h2.text-center
              | Arranging to see someone is easy. We even offer a free #{site.mini_consult_duration} minute
              | consultation if you would just like to make sure a treatment can be offered.

          .col-md-4
            != partial('booking_form')

  script.
    new WOW().init();
  script.
    $('#myTab a').click(function (e){
      e.preventDefault()
      $(this).tab('show')
    });
