doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{getPreparedTitle()}

    meta(name="description" content="#{getPreparedDescription()}")
    meta(name="keywords" content="#{getPreparedKeywords()}")

    != getBlock('styles').add(['/css/animate.css','/css/bootstrap.min.css','/css/font-awesome.min.css','/css/main.css']).toHTML()

    <!--[if lt IE 9]>
    <script type='text/javascript' src='/js/respond.min.js'></script>
    <script type='text/javascript' src='/js/html5shiv.js'></script>
    <script type='text/javascript' src='/js/ie_fix.js'></script>
    <![endif]-->

    link(href='//fonts.googleapis.com/css?family=Abel', rel='stylesheet', type='text/css')
    //-
      <link href='https://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,500,700' rel='stylesheet' type='text/css'>
    link(href='//fonts.googleapis.com/css?family=Roboto:400,300,500', rel='stylesheet', type='text/css')
    link(href='//fonts.googleapis.com/css?family=Dosis:300,400,500,600', rel='stylesheet', type='text/css')
    link(href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300', rel='stylesheet', type='text/css')

    //- Used http://realfavicongenerator.net to generate
    link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon-180x180.png")
    link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/favicon-194x194.png", sizes="194x194")
    link(rel="icon", type="image/png", href="/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="/android-chrome-192x192.png", sizes="192x192")
    link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="/manifest.json")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#144654")
    meta(name="msapplication-TileColor", content="#00aba9")
    meta(name="msapplication-TileImage", content="/mstile-144x144.png")
    meta(name="theme-color", content="#ffffff")
  
    script(src='https://www.google.com/recaptcha/api.js')

  body
    != partial('nav')

    .main-content
      != content

    section#footer
      .container
        .row
          .col-md-6.col-md-offset-3
            ul.text-center.contact.footer-social
              li.socials-icons
                a.facebook(href='https://www.facebook.com/TheVaricoseVeinsClinic/', data-toggle='tooltip', title='Varicose Veins Clinic Facebook Page')
                  i.fa.fa-facebook
              li.socials-icons
                a.twitter(href='https://twitter.com/VVClinic', data-toggle='tooltip', title=' Varicose Veins Clinic Twitter')
                  i.fa.fa-twitter
              li.socials-icons
                a.google-plus(href='https://plus.google.com/b/103567228965506862678/103567228965506862678', data-toggle='tooltip', title='Share in Google +')
                  i.fa.fa-google-plus
        .row
          .col-md-12
            .copy-right-text.text-center
              | Copyright 2015 &copy; The Varicose Vein Clinic.
              br
              | Site Built by #[a(href="http://www.clinsoftsolutions.com") Clinical Software Solutions]

        .row
          .col-md-12
            .copy-right-text.text-center
              | The team from the #[a(href="/surrey-vein-clinic.html") Surrey Vein Clinic] have moved.

    != getBlock('scripts').add(['/js/jquery.min.js','/js/owl.carousel.min.js','/js/isotope.pkgd.min.js','/js/wow.min.js','/js/bootstrap.min.js','/js/bookingform.js','/js/ga.js'].concat(document.scripts||[])).toHTML()
